// COLORS

$primary1: #FAAB18;
$primary2: #00B8D1;
$primary3: #1D1E68;
$secondary1: #EA96CA;
$secondary2: #E26D5A;
$secondary3: #ECE5F0;

$white: #fff;
$slate: #708090;


// FONT SIZE
$default-font-size: 1rem;
$button-font-size: .8rem;
$article-font-size: 1.1rem;
$nav-font-size: 1rem;
$huge-font-size: 3rem;
$large-font-size: 2rem;
$mid-font-size: 1.2rem;
$sm-font-size: .8em;

$big-phone-size: 2rem;
$mid-phone-size: 1.8rem;
$sm-phone-size: 1em;
