// COLORS

$primary1: #FAAB18;
$primary2: #00B8D1;
$primary3: #1D1E68;
$secondary1: #EA96CA;
$secondary2: #E26D5A;
$secondary3: #ECE5F0;

$article-color: #333333;
$white: #fff;
$slate: #708090;
$bk: #bdbed1;


// FONT SIZE
$mega-font-size: 5rem;
$huge-font-size: 3.3rem;
$large-font-size: 2.1rem;
$mid-font-size: 1.3rem;
$article-font-size: 1.1rem;
$default-font-size: 1rem;
$lead-font-size: .7rem;
$button-font-size: .9rem;
$nav-font-size: 1rem;
$sm-font-size: .6rem;

$big-phone-size: 2rem;
$mid-phone-size: 1.8rem;
$sm-phone-size: 1em;
