.chart-section {
    background-color: $secondary3;
    color: $primary3;
    padding: 5em;
    border-radius: 10px;

    .chart__copy {
        max-width: 800px;

        &__title {
            margin-bottom: 8px;
        }

        &__description {
            margin-bottom: 32px;
        }
    }

    .input-container {
        margin-right: 1em;

        label {
            background-color: $secondary3;
            padding: 1em 2em;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;

            input {
                margin-right: 6px;
            }
        }
    }

    .chart-container {
        height: 400px;
        width: 800px;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;

        svg {
            max-width: 100%;
        }

        .tick {
            text {
                fill: $primary3;
            }
        } 

    }
}


