/* Call to Action Button */
.cta-btn {
  font-size: $button-font-size;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  line-height: 1;
  z-index: 1;
  background-color: $primary1;
  color: $white;
  border: none;
  max-height: 56px;
  text-transform: uppercase;
  letter-spacing: .1em;

  @include respond(phone) {
    font-size: $sm-phone-font-size;
  }
}

.cta-btn-alt {
  font-size: $button-font-size;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding: 1rem 2rem;
  line-height: 1;
  z-index: 1;
  background-color: $secondary2;
  color: $white;
  border: none;
  max-height: 56px;
  text-transform: uppercase;
  letter-spacing: .1em;

  @include respond(phone) {
    font-size: $sm-phone-font-size;
  }
  
}


