canvas {
    background-color: #221f26;;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4em;

    @include respond(phone) {
        min-height: 80vh;
        justify-content: flex-start;
        padding-top: 2em;
    }

}

article {
    width: 100vw;
    padding: 5em 0;

    @include respond(phone) {
        padding: 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em 0;
    }

    .section-header {
        padding-left: 22em;
        max-width: 75vw;

        @include respond(tab-land) {
            padding-left: 9em;
            max-width: 100%;
        }

        @include respond(phone) {
            padding: 0;
            max-width: 100%;
        }

        .lead {
            margin-bottom: 8px;
            margin-left: 2px;
        }

        .title, .subtitle {
            max-width: 60vw;
    
            @include respond(phone) {
                max-width: 80vw;
            }
        }
    
        .title {
            margin-bottom: 16px;
            color: $primary2;
            font-size: $large-font-size;

            @include respond(phone) {
                font-size: $mid-font-size;
            }
        }
    
        .subtitle {
            color: $primary3;
            font-size: $mid-font-size;
            line-height: 1.5;

            @include respond(phone) {
                font-size: $default-font-size;
            }
        }
    }


    .copy {
        display: flex;
        align-items: center;

        p{
            padding: 5em 20em;
            font-size: $article-font-size;
            color: $article-color;
            line-height: 1.7;

            @include respond(tab-land) {
                padding: 3em 8em;
            }

            @include respond(phone) {
                padding: 3em 0;
                line-height: 1.5;
                font-size: $phone-font-size;
                max-width: 80vw;
                margin-bottom: 2em;
            }

        }
    }
}

.callout {
    position: relative;
    max-height: 80vh;
    color: $primary3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 0 2em;
    padding: 2em;

    @include respond(phone) {
        padding: 1em 0;
        flex-direction: column;
        overflow: hidden;
        max-width: 90vw;
        max-height: 100%;
    }
    
    .bk {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: url("../assets/images/BIA_Pattern_Fog.jpg");
        z-index: -1;
    }

    .closing-bk {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__container {
        display: flex;
        width: 50%;
    }

    &__image {
        margin-left: -2em;
        overflow: hidden;

        img {
            transform: translate(-50px, 50px);
        }
    }

    &__copy {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 4em;

        @include respond(phone) {
            align-items: center;
            padding: 0;
        }

        p {
            max-width: 80%;
            font-weight: 600;
            line-height: 1.7;
            font-size: $default-font-size;

            @include respond(phone) {
                font-size: $phone-font-size;
            }
        }
    }

    .closing-copy {
        padding: 0 6em;
        margin: 4em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
        
        @include respond(phone) {
            align-items: flex-start;
            padding: 0 0 0 2em;
            margin: 1em 0;
        }

        p {
            max-width: 80%;
            font-weight: 600;
            line-height: 1.7;
            font-size: $mid-font-size;
            color: $white;

            @include respond(phone) {
                font-size: $default-font-size;
            }
        }
    }
}


