canvas {
    background-color: #221f26;;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4em;

}

article {
    width: 100vw;
    padding: 5em;

    .title, .subtitle {
        max-width: 60vw;
    }

    .title {
        margin-bottom: 16px;
        color: $primary2;
        font-size: $large-font-size;
    }

    .subtitle {
        color: $primary3;
        font-size: $mid-font-size;
    }

    .copy {
        display: flex;
        align-items: center;

        p{
            padding: 5em 20em;
            font-size: $article-font-size;
            color: $article-color;
            line-height: 1.7;

            @include respond(tab-land) {
                padding: 3em 8em;
            }
        }
    }
}

.callout {
    position: relative;
    border-radius: 10px;
    height: 70vh;
    color: $primary3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
    .bk {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/BIA_Pattern_Fog.jpg");
        z-index: -1;
    }

    &__container {
        display: flex;
        width: 50%;

        img {
            position: absolute;
            width: 800px;
        }
    }

    &__copy {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            max-width: 80%;
            font-weight: 600;
            line-height: 1.7;
        }
    }
}


