canvas {
    background-color: #221f26;;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4em;

}

article {
    width: 100vw;
    padding: 5em;

    .title, .subtitle {
        max-width: 60vw;
    }

    .title {
        margin-bottom: 16px;
        color: $primary2;
        font-size: $large-font-size;
    }

    .subtitle {
        color: $primary3;
        font-size: $mid-font-size;
    }

    .copy {
        display: flex;
        align-items: center;

        p{
            padding: 5em 20em;
            font-size: $article-font-size;
            color: $article-color;
            line-height: 1.7;

            @include respond(tab-land) {
                padding: 3em 8em;
            }
        }
    }
}



