html.wf-loading * {
  opacity: 0;
}

h1,h2,h3 {
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
  font-size: $huge-font-size;
}
h2 {
  font-size: $large-font-size;
}
h3 {
  font-size: $mid-font-size;
}


p {
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: $default-font-size;
}
a {
  font-family: 'Montserrat', sans-serif;
  font-size: $button-font-size;
  text-decoration: none;
}

li {
  font-family: 'Montserrat', sans-serif;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.lead {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
  color: $article-color;
  font-size: $lead-font-size;
}




